<?xml version="1.0"?>
<job_conf>
    <plugins>
        <plugin id="pulsar" type="runner" load="galaxy.jobs.runners.pulsar:PulsarMQJobRunner">
            <param id="galaxy_url">http://{{ galaxy_ip }}:{{ galaxy_port }}</param>
            <param id="amqp_url">{{ galaxy_amqp_url }}</param>
            <param id="amqp_acknowledge">True</param>
        </plugin>
    </plugins>
    <destinations default="remote">
        <destination id="remote" runner="pulsar">
            <param id="jobs_directory">{{ galaxy_jobs_directory }}</param>
            <param id="dependency_resolution">remote</param>
            <param id="submit_user">{{ galaxy_submit_user }}</param>
        </destination>
    </destinations>
</job_conf>
